@font-face {
  font-family: 'NeutralFace';
  src: url('../fonts/NeutralFace.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Cousine';
  src: url('../fonts/Cousine-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Cousine';
  src: url('../fonts/Cousine-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
