* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  font-family: 'NeutralFace', 'Cousine';
}
.main_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Cousine';
  font-weight: 400;
  font-style: normal;
  font-size: 1.4vw;
}
.main_menu a {
  color: #222;
  text-decoration: none;
  transition: color ease 0.2s;
}
.main_menu a.active,
.main_menu a.active:hover {
  color: #db2195;
}
.main_menu a:hover {
  color: #777;
  text-decoration: none;
}
